dist
node_modules
packages/*/dist
packages/*/dist
packages/*/lib
packages/*/chunks
packages/*/node_modules
packages/*/.*

packages/core/client
packages/core/server
packages/core/index.d.ts
packages/core/index.js
packages/core/index.js.map
packages/core/server.d.ts
packages/core/server.js
packages/core/server.js.map
packages/core/*.meta.json