html {
  font-family: "Space Mono", monospace;
  background: linear-gradient(313deg, #7a82ff2e, transparent);
}

p,
li {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

blockquote {
  background: #00000026;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5em;
}

pre[class*="language-"] {
  > * {
    font-family: "Space Mono", monospace;
  }

  a {
    color: white;
  }
}

pre.language-tree {
  position: relative;
  line-height: 1.1;

  &::after {
    content: "directory layout";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem 0.6rem;
    color: rgb(132, 148, 241);
    font-size: 0.7rem;
  }

  background: #000000e7 !important;
  b {
    color: rgb(140, 90, 155);
  }
}

pre.language-terminal {
  position: relative;
  &::after {
    content: "expected terminal output";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem 0.6rem;
    color: rgb(13, 199, 13);
    font-size: 0.7rem;
  }

  background: #000000e7 !important;
  b {
    color: rgb(140, 90, 155);
  }
}

p > code {
  background: #dbdce3;
  border-radius: 0.5em;
  padding: 0.4em;
}

pre {
  background: #dbdce3;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em 0;
}
