.wrapper {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding: 2rem !important;

  @media only screen and (max-width: 60rem) {
    margin-top: 1rem;
  }

  @media only screen and (max-height: 70rem) {
    margin-top: 1rem;
  }

  @media only screen and (max-width: 100rem) {
    margin-top: 2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  h2 {
    margin-top: 1rem;
  }

  @media only screen and (max-width: 60rem) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      margin-top: 0rem;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
  padding-bottom: 3rem;
  h1 {
    font-size: 3rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  @media only screen and (max-width: 140rem) {
    padding-bottom: 1rem;
  }

  @media only screen and (max-width: 60rem) {
    h1 {
      font-size: 2rem;
    }
  }
}

button {
  cursor: pointer;
  width: fit-content;
  border: none;
  background: linear-gradient(111deg, #00bbff, #2777f7);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 0 auto;
}

.features {
  padding: 0;
  margin-left: 0.5rem;
  line-height: 1.6;
  list-style: none;
  font-size: 1.3rem;

  li {
    padding-bottom: 0.5rem;
  }

  li:before {
    content: ">";
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
}
